{{define "block_rich_text"}}
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="gp-pad" style="padding:26px 40px;color:#0E0E0C;font-family:'SF Mono','SFMono-Regular',ui-monospace,Menlo,Consolas,'Courier New',monospace;font-size:15px;line-height:24px;">
      {{.RichHTML}}
    </td>
  </tr>
</table>
{{end}}
