<!DOCTYPE html>
<html>
<head>
    <title>Order Shipped</title>
    <style>
        @media screen and (max-width: 600px) {
            .container { width: 100%; }
        }
        body { font-family: Arial, sans-serif; }
        .container { width: 80%; margin: auto; padding: 20px; }
        .header { background-color: #f8f8f8; padding: 10px; text-align: center; }
        .content { margin-top: 20px; }
        .footer { margin-top: 30px; font-size: small; text-align: center; }
    </style>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>GRBPWR</h1>
        </header>
        <main class="content">
            <p>Hello {{.Name}},</p>
            <p>Great news! Your order <b><a href="https://grbpwr.com/order/{{.OrderUUID}}" style="text-decoration: none;">#{{.OrderUUID}}</a></b> has been shipped.</p>
            <h2>Shipping Details:</h2>
            <p><b>Date Shipped:</b> {{.ShippingDate}}</p>
            <p>You can track your shipment by clicking on the tracking number or visiting the courier's website. We hope your order arrives soon!</p>
        </main>
        <footer class="footer">
            <p>Thank you for choosing GRBPWR!</p>
            <p>If you have any questions about your shipment, please contact us at <a href="mailto:info@grbpwr.com">info@grbpwr.com</a>.</p>
        </footer>
    </div>
</body>
</html>