<html>

<head>
    <meta charset="utf-8">
    <title>Add product</title>
</head>

<body>
    <br>
    <form action="/addcard" method="post">

        <input type="text" name="name" placeholder="name">
        <br>
        <br>

        <p>prices</p>

        <input type="text" name="priceUsd" placeholder="priceUsd">
        <br>
        <br>

        <input type="text" name="priceByn" placeholder="priceByn">
        <br>
        <br>

        <input type="text" name="priceRub" placeholder="priceRub">
        <br>
        <br>

        <p>availableSizes</p>

        <input type="text" name="xxs" placeholder="xxs">
        <br>
        <br>


        <input type="text" name="xs" placeholder="xs">
        <br>
        <br>

        <input type="text" name="s" placeholder="s">
        <br>
        <br>

        <input type="text" name="m" placeholder="m">
        <br>
        <br>


        <input type="text" name="l" placeholder="l">
        <br>
        <br>

        <input type="text" name="xl" placeholder="xl">
        <br>
        <br>

        <input type="text" name="xxl" placeholder="xxl">
        <br>
        <br>


        <input type="text" name="os" placeholder="os">
        <br>
        <br>

        <p>description</p>

        <input type="text" name="description" placeholder="description">
        <br>
        <br>

        <p>categories</p>

        <input type="text" name="categories" placeholder="categories">
        <br>
        <br>

        <p>images</p>

        <input type="text" name="mainImage" placeholder="mainImage">
        <br>
        <br>

        <input type="text" name="imageURLs" placeholder="imageURLs">
        <br>
        <br>


        <input type="submit" value="Add Card">
    </form>
</body>

</html>