name: Test and Deploy to App Platform

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"

      - name: Wait for MySQL
        run: |
          while ! mysqladmin ping -h"127.0.0.1" -P"3306" --silent; do
            sleep 1
          done

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebp-dev
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway@v2.21.0
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.4.0
          go install github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway@latest
          go install github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger@latest
          go install golang.org/x/text/cmd/gotext@latest
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2@latest
          go install github.com/vektra/mockery/v2@latest
          go install github.com/deepmap/oapi-codegen/cmd/oapi-codegen@latest
          go install github.com/bufbuild/buf/cmd/buf@latest

      - name: Generate Proto
        run: |
          export PATH="$PATH:$(go env GOPATH)/bin"
          make proto

      - name: Generate code
        run: |
          export PATH="$PATH:$(go env GOPATH)/bin"
          make generate

      - name: Run tests
        run: go test -v ./...
        env:
          MYSQL_HOST: 127.0.0.1
          MYSQL_PORT: 3306
          MYSQL_USER: root
          MYSQL_PASSWORD: root
          MYSQL_DATABASE: test_db

  deploy:
    name: Deploy to App Platform
    needs: test
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to DigitalOcean App Platform
        uses: digitalocean/app_action/deploy@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          app_spec_path: .do/app.yaml
